@{
    ViewBag.Title = "Product Categories";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container product-categories">
    <h2 class="page-header-red">@ViewBag.Title</h2>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a><h3 class="panel-title">Facial Care</h3></a> 
                <a class="btn btn-info btn-facial-care">
                    View all Facial Care Products
                </a>

            </div>
            <div class="panel-body">
                <div class="media">
                    <img src="http://placehold.it/300" class="media-object pull-left" />
                    
                    <div class="media-body">
                        <h4 class="media-heading">View Products by Type</h4>
                        <div class="list-group">
                            <a class="list-group-item">Cleanser</a>
                            <a class="list-group-item">Toner</a>
                            <a class="list-group-item">Cream</a>
                            <a class="list-group-item">Mask</a>
                            <a class="list-group-item">Scrub</a>
                            <a class="list-group-item">Eye Cream</a>
                            <a class="list-group-item">Balancing Oil</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a><h3 class="panel-title">Body Care</h3></a>
                <a class="btn btn-info btn-body-care">
                    View all Body Care Products
                </a>
            </div>
            <div class="panel-body">
                <div class="media">
                    <img src="http://placehold.it/300" class="media-object pull-left" />
                    <div class="media-body">
                        <h4>View Products by Type</h4>
                        <div class="list-group">
                            <a class="list-group-item">Hand Soap</a>
                            <a class="list-group-item">Body Lotion</a>
                            <a class="list-group-item">Bar Soap</a>
                            <a class="list-group-item">Body Wash</a>
                            <a class="list-group-item">Hand Cream</a>
                            <a class="list-group-item">Body Polish</a>
                            <a class="list-group-item">Body Oil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a><h3 class="panel-title">Lip Care</h3></a>
                <a class="btn btn-info btn-lip-care">
                    View all Lip Care Products
                </a>
            </div>
            <div class="panel-body">
                <div class="media">
                    <img src="http://placehold.it/300" class="media-object pull-left" />
                    <div class="media-body">
                        <h4>View Products by Type</h4>
                        <div class="list-group">
                            <a class="list-group-item">Lip Balm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a><h3 class="panel-title">Sets</h3></a>
                <a class="btn btn-info btn-body-care">
                    View all Sets
                </a>
            </div>
            <div class="panel-body">
                <div class="media">
                    <img src="http://placehold.it/300" class="media-object pull-left" />
                    <div class="media-body">
                        <h4>View Sets by Type</h4>
                        <div class="list-group">
                            <a class="list-group-item">Body Care Sets</a>
                            <a class="list-group-item">Skin Care Sets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

