@{
    ViewBag.Title = Resources.Common.Dashboard;
}

<style>
    #view-dashboard h2 { font-size: 28px !important; }
    #view-dashboard li { margin-bottom: 7px; }
</style>

<div id="view-dashboard">
    <div class="space-20"></div>

    <h2 class="text-primary text-center"><strong>Bonvera March 2016 Month End Business Update</strong></h2>

    <div class="space-20"></div>

    <h3>Hello Bonvera Associates!</h3>
    <div class="space-10"></div>

    <p>Can you believe it? Bonvera is already finishing the first month of business! What a ride it has already been. We have set many records and we still have a week before the close of the month.</p>
    <div class="space-10"></div>
    <p>Here are few things to keep in mind to help you finish March strong!</p>

    <ul>
        <li>End of month deadline for orders will be 2am EST on April 1st 2016.</li>
        <li>Deadline includes any Partner Store orders.</li>
        <li>Orders include Associate Enrollments, product orders, Customer and Smart Shopper orders, and Partner Store Orders.</li>
        <li>Any orders placed past the deadline will be counted for April 2016 business.</li>
        <li>Any changes/returns to your March orders in April will reflect in April volume.</li>
        <li>Any Replenish orders scheduled to run on the 1st will be run 3am-5am EST.</li>
        <li>
            Please remember to set up your Direct Deposit information in your profile.
            <br />
            <ul style="list-style:circle;">
                <li>Log-in to your back office, click on your name in the right hand top corner of the website and select "Change Settings".</li>

                <li>While you are entering your bank information, please update your SSN/EIN information. We need your SSN/EIN to report income for tax purposes.</li>
                <li>Your Direct deposit information should match the name on the SSN/EIN</li>
            </ul>
        </li>
        <li>BV transfers among associates are not allowed.</li>
        <li><strong>A friendly reminder to our associates to maximize on your first order bonuses in March 2016. If you were enrolled between Feb 15, 2016 – March 31, 2016 you have till close of business on March 31, 2016 to place an order for your first order pack if you have not already done so. For all bonus details and requirements please refer to Compensation Plan Brochure in the Resources section of your back office.</strong></li>
    </ul>

    <div class="space-10"></div>
    <p>We are excited that you chose to be part of Bonvera from the beginning! We wish you much success in your business for March and the rest of 2016!</p>

    <div class="space-10"></div>
    <p>If you have any questions, please feel free to “Message" us from the website or send an email to <a href="mailto:support@bonvera.com">support@bonvera.com</a></p>
          

</div>
