// Client Specific Colors
$blue: #006098;
$blue-dark: #0F416B;
$teal: #00acc8;
$orange: #FAA41C;
$green: #00c18c;
$black: #050000;
$white: #ffffff;
$beige: #B0A970;
$beige-dark: #989260;
$gold-dark: #646034;
