@{
    ViewBag.Title = "Shopping";
}


<div class="shop">
        <div class="home">
            <div class="section-2">
                <div class="space-20"></div>

                <div class="featured-product">
                    <div class="row">
                        <div class="col-sm-6">
                             <a href="@Url.Action("itemlist")">
                            <img src="http://placehold.it/400x200" alt="" class="watch-now-image img-responsive" />
                                 </a>
                            <div class="space-20 visible-xs"></div>
                            @*<a href="http://youtu.be/tdHwrSSwUPo?list=UUpUl3y7OW3vHRjPTRtCjGbw" class="watch-now-btn"><span>Watch Now</span> <i class="fa-arrow-right"></i></a>*@
                        </div>
                        <div class=" col-sm-6">
                            <div class="row">
                                <div class="featured-item col-xs-4">
                                    <a href="@Url.Action("itemlist")">
                                        <img src="http://placehold.it/150x200" alt="" class="img-responsive" />
                                    </a>

                                </div>
                                <div class="col-xs-7">

                                    <h3>Featured Product</h3>
                                    <h4 class="recommended-product-category">Product Title</h4>
                                    <a href="javascript:;" class="recommended-link">
                                        <h5><i class="fa-circle"></i>Product Name</h5>
                                    </a>
                                    <br />
                                    <strong>$55</strong>
                                    <p>
                                        Utinam vocibus feugait at est, te alia discere cotidieque pro, te nam clita ignota. Ei reque possit persecuti nec. Amet vidit ne pri.
                               
                                    </p>

                                </div>
                                <div class="col-xs-1">
                                    <div class="space-10"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="space-40"></div>

                <div class="container section-4">
                    <div class="row product-categories">

                        <div class="col-sm-3 col-xs-6 text-center">
                            <a href="">
                                <h4 class="text-center">Product Category 01</h4>
                            </a>
                            <a href="">
                                <img src="http://placehold.it/200x200" alt="Daily Ritual" class="img-responsive feature-image" /></a>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <a href="">
                                <h4 class="text-center">Product Category 02</h4>
                            </a>
                            <a href="">
                                <img src="http://placehold.it/200x200" alt="Facial Care" class="img-responsive feature-image" /></a>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <a href="">
                                <h4 class="text-center">Product Category 03</h4>
                            </a>
                            <a href="">
                                <img src="http://placehold.it/200x200" alt="BodyCare" class="img-responsive feature-image" /></a>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <a href="">
                                <h4 class="text-center">Product Category 04</h4>
                            </a>
                            <a href="">
                                <img src="http://placehold.it/200x200" alt="Sets" class="img-responsive feature-image" /></a>
                        </div>

                    </div>
                </div>
                <div class="space-30"></div>

            </div>
            <div class="space-30"></div>
            <div id="carousel-example-generic" class="carousel slide section-3  hidden-xs" data-ride="carousel">

                <!-- Indicators -->
                @*<ol class="carousel-indicators">
                    <li data-target="#carousel-ip" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-ip" data-slide-to="1"></li>
                    <li data-target="#carousel-ip" data-slide-to="2"></li>
                </ol>*@

                <!-- Wrapper for slides -->
                <div class="carousel-inner container">
                    <div class="item active">
                        <div class="profile-container">
                            <a class="text-center col-sm-2"></a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="profile-container">
                            <a class="text-center col-sm-2"></a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="profile-container">
                            <a class="text-center col-sm-2"></a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2">
                                <div class="space-10"></div>
                                <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                <h4>Product Title</h4>
                            </a>
                            <a class="text-center col-sm-2"></a>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="fa-arrow-left glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="fa-arrow-right glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
</div>
<div class="space-30"></div>



