@{
    ViewBag.Title = "Shopping";
}


<div class="container-fluid">
    <div class="space-20"></div>
    <div class="featured-product">
        <div class="col-sm-6">
            <a href="@Url.Action("itemlist")" style="display: none;">
                <img src="http://placehold.it/400x200" alt="" class="watch-now-image img-responsive" />
            </a>
            <a href="https://www.facebook.com/BonveraUS/videos/1213438768744860/" class="watch-now-btn" style="display: none;">
                <span>Watch Now</span><i class="fa-arrow-right"></i>
            </a>

            <div class="fb-video watch-now-image img-responsive" data-href="https://www.facebook.com/BonveraUS/videos/1213438768744860/" data-allowfullscreen="true" data-width=""></div>
            <div class="space-20 visible-xs"></div>
        </div>
        <div class=" col-sm-6">
            <div class="row">
                <div class="featured-item col-xs-4">
                    
                    <a href="@Url.Action("itemlist")">
                        <img src="https://api.exigo.com/4.0/AllBrands/productimages/ALO_MangoDelight_250px.png" alt="" class="center-block"/>
                    </a>
                    <h2 class="tier-title text-center" style="white-space: nowrap;">ALO - Essentials Mango Delight</h2>

                </div>
                <div class="col-xs-7">

                    <h3>What's your favorite Bonvera Beverage?</h3>
                    <h4 class="recommended-product-category">ALO - Essentials Mango Delight</h4>
                    <a href="javascript:;" class="recommended-link">
                        <h5><i class="fa-circle"></i>Product Name</h5>
                    </a>
                    <br />
                    <strong>$55</strong>
                    <p>Utinam vocibus feugait at est, te alia discere cotidieque pro, te nam clita ignota. Ei reque possit persecuti nec. Amet vidit ne pri.</p>
                </div>
                <div class="col-xs-1">
                    <div class="space-10"></div>
                </div>
            </div>
            <div class="row-fluid">
                <!-- sliders -->
                <div class="space-15"></div>
                <div id="carousel-example-generic" class="carousel slide section-3  hidden-xs" data-ride="carousel">

                    <!-- Indicators -->
                    @*<ol class="carousel-indicators">
                            <li data-target="#carousel-ip" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-ip" data-slide-to="1"></li>
                            <li data-target="#carousel-ip" data-slide-to="2"></li>
                        </ol>*@

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner container">
                        <div class="item active">
                            <div class="profile-container">
                                <a class="text-center col-sm-2"></a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="profile-container">
                                <a class="text-center col-sm-2"></a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2">
                                    <div class="space-10"></div>
                                    <img src="http://placehold.it/100x100" alt="Product" class="img-responsive" />
                                    <h4>Product Title</h4>
                                </a>
                                <a class="text-center col-sm-2"></a>
                            </div>
                        </div>                        
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa-arrow-left glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa-arrow-right glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container-fluid clearfix">
    <div class="row">
        <br />
        <br />
    </div>
</div>
