@{
    ViewBag.Title = Resources.Common.NewDistributorsList;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.Navigation()
    </div>

    <div class="col-sm-9">

        <div id="grid"></div>

    </div>
</div>


@section scripts
{
    <script>
        require(["kendogrids"], function (kendoGrid) {

            var cultureCode = "@Identity.Current.Market.CultureCode";
            kendo.culture(cultureCode);


            kendoGrid.create("#grid", {
                sort: { field: "CreatedDate", dir: "desc" },
                columns: [
                        {
                            field: "CustomerID",
                            title: "Associate",
                            type: "number",
                            template: kendoGrid.templates.customer("CustomerID", "FirstName", "LastName", "CustomerIDToken")
                        },
                        
                        {
                            field: "Team",
                            title: "Team",
                        },
                        {
                            field: "CreatedDate",
                            title: "Join Date",
                            width: 120,
                            type: "date",
                            format: "{0:d}",
                            attributes: { "class": "text-right" }
                        }

                ]
            });
        });
    </script>
} 