@{
    ViewBag.Title = "Thank You!";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div id="thankyou-container">
    <div class="space-30"></div>
    <h1 class="alt-header">@Resources.Common.ThankYou</h1>
    <div class="space-40"></div>
    <div class="ll-well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="thankyou-message">Your payment is being processed. It may take a few minutes before all dashboard features are available.</h3>
                    <div class="space-20"></div>
                </div>
                </div>
            </div>
        </div>
    </div>

