
<div id="enroller-validate-container">
    <h4>
        It looks like you have come to Bonvera without a referrer.
        Please enter your Referrer's User Name or ID to validate them below. If you do not have a referrer number you can still continue and finish the account creation.
    </h4>
    <div class="space-10"></div>

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-1 text-right">
            <div class="space-5"></div>
            <label for="txtEnroller">Referrer &nbsp;</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
            <div class="input-group">
                <input type="text" id="txtEnroller" data-role="enrollervalidate" class="form-control" placeholder="Enter User Name or ID" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="enrollervalidate-search"><i class="fa-search"></i></button>
                </span>
            </div>
            <div id="enroller-validate-result"></div>
        </div>
    </div>
</div>