@{
    ViewBag.Title = "Join";
}
<div class="container">
    <div class="space-20"></div>
    <h2 class="text-blue">Join</h2>
    <img src="http://placehold.it/1000x300" class="img-responsive">
    <div class="space-20"></div>
    <p>Id usu justo audire intellegebat, expetenda deseruisse eu vis, sea nihil accumsan deleniti an. Velit accusam dissentias an sed, ullum nominavi cu mel. Ea imperdiet iracundia vim, stet suavitate ut has, ea pri noster utamur alterum. Te vim luptatum quaestio, sea esse commodo philosophia an, ne erat verear suscipit eum. Ad nam quem utroque disputando, ius et justo dolore malorum. Eum et regione labores, nam admodum tacimates vituperatoribus eu.</p>
    <p>An possit definitionem sit. Euismod bonorum nec ea, illud legere verterem ex vix. Te mei ubique aliquam aliquando, putent feugait nam in, ut has invenire facilisis neglegentur. Vis ceteros repudiandae eu.</p>
    <div class="space-20"></div>
    <a href="@Url.Action("enrollmentconfiguration")" class="btn btn-info btn-lg ">Sign me up!</a>    
</div>
<div class="space-40"></div>