.featured-product {
    background-color: #ccc;
    padding: 20px;
}

.first-order-pack-added-message {
    display: none;
}

[data-target="#howtomodal"] {
    font-size: 15px;
}

#howtomodal {
    color: #333;
}

#will-call-alert {
    font-size: 15px;
}

.price-first-order-discount {
    line-height: 12px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'raleway';
    text-transform: uppercase;
    margin: 10px;

    i {
        margin-left: -10px;
    }
}

#category-banner-container {
    background-color: #811f36;
    color: white;
    margin-bottom: 0;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
        display: none;
    }

    &.itemlist-banner {
        background: #811f36 url('../images/banners/FrontDoorDelivery.jpg') 50% 50% no-repeat;
        height: 133px;
        background-size: cover;

        @media (max-width: 599px) {
            height: 90px;
            background-position: 70% 50%;
        }
    }

    &.partnerstores-banner {
        background: #00635e url('../images/banners/PartnerStore.jpg') 50% 50% no-repeat;
        height: 133px;
        background-size: cover;
        margin-bottom: 20px;

        @media (max-width: 599px) {
            height: 90px;
        }
    }

    &.affiliate-banner {
        background: #811f36 url('../images/banners/AffiliateBanner.jpg') 50% 50% no-repeat;
        height: 133px;
        background-size: cover;
        margin-bottom: 20px;

        @media (max-width: 599px) {
            height: 90px;
        }
    }
}

//Search Products bar
#item-search-banner {
    background-color: #0F416B;
    max-width: 100%;
    padding: 25px;

    #submitSearch {
        margin: 0;
        background-color: #286090;
        border: .5px #286090 solid;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
            background-color: #286090;
            border: .5px #46b8da solid;
        }
    }
}

#item-sort-by-banner {
    padding: 15px;

    .sort-by-list {
        background-color: #eee;
    }
}

#scroll-to-top {
    z-index: 2000;
    font-size: 14px;
    background-color: #0F416B;
    border: .5px solid #46b8da;
    color: #fff;
    width: 100px;
    position: fixed;
    display: none;
    bottom: 25px;
    right: 15px;

    &:hover {
        background-color: #337ab7;
    }
}
// General Utility Styles
.text-required {
    color: #ff000e;

    &.icon-required {
        margin-left: -5px;
        display: inline-block;
    }
}


.item-container {
    padding: 15px;
}

// Our Products
#view-our-products {
    .underline {
        text-decoration: underline;
    }
}


// Shopping Cart Preview - In Top Nav Bar in header of site (MasterLayout)
#shopping-cart-preview {
    .dropdown-menu {
        border-radius: 0;
        margin-top: -2px;
    }

    .dropdown-toggle {
        border: 0;
        outline: 0;
        cursor: pointer;
        padding: 15px 0;

        &:hover {
            border: 0;
            outline: 0;
        }
    }

    #cart-list {
        margin: 5px;
        width: 350px;

        .product-row {
            .table {
                margin-bottom: 0;

                tr {
                    .product-link {
                        font-size: 13px;
                        padding: 0 10px 0 0 !important;
                        display: inline-block;
                        overflow: hidden;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        -ms-text-overflow: ellipsis;
                    }
                }
            }
        }

        .item-description {
            max-width: 200px;
        }

        .item-description .product-link {
            font-weight: bold !important;
        }

        a:not(.btn), #shopping-cart-preview #cart-list a:not(.btn):hover,
        a:not(.btn):active {
            background: none !important;
        }
    }

    .item-description a:hover, .delete-btn:hover {
        color: #333 !important;
        text-decoration: underline !important;
    }

    .totals {
        font-size: 16px;
    }

    .grey-label {
        color: #818181;
    }

    .totals .tax-message {
        color: red;
    }

    .cart-preview-controls a {
        padding: 5px 10px !important;
        border-radius: 0;
        color: white !important;
        text-transform: uppercase !important;
    }

    .delete-btn {
        padding: 5px !important;
        color: #ccc;
        font-size: 17px;
        text-align: right;

        &:hover {
            color: #aaa !important;
        }
    }
}

// Quick Shop Modal and Button - Used on Item List page
/*.quick-shop-btn {
    display: none;
    position: absolute;
    width: 60%;
    top: 40%;
    left: 20%;
    padding: 10px 0; 
    border-radius: 3px;
    border: 0;
    z-index: 999;
    font-size: 14px;

    &.hover { visibility: visible; border: 0; }
    &.active { border: 0; }
    &.focus { border: 0; }

    .fa-long-arrow-right { font-size: 1.1vw; margin: .6vw 0 .6vw .7vw; }

    @media (max-width: 750px) { visibility: hidden; }
}*/

.quick-shop-modal {
    .modal-header {
        border-bottom: 0;
    }

    .input-group {
        display: block;
    }

    input[name="Quantity"] {
        max-width: 70px;
    }

    .itemdescription {
        margin-right: 40px;
    }

    .link-to-product-detail-page > a {
        text-transform: uppercase;
        font-size: 0.75vw;
        font-weight: bold;
        margin-left: -10px;

        &:hover {
            color: #2EC1D6;
        }
    }
}

// Cart View
.qtyplus, .qtyminus, a.cart-remove {
    background: #c0c0c0;
    color: #fff;
    border: none;
    float: left;
    font-family: "FontAwesome";
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 13px;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    i {
        width: 10px;
        margin: 10px auto;
        display: block;
    }
}

.qtyminus + input {
    display: inline-block;
    float: left;
    border-radius: 0;
}

.qtyplus:hover, .qtyminus:hover {
    background: #0071CE;
    color: #fff;
}

a.cart-remove {
    background-color: #f6f6f6;
    color: #a0a0a0;

    &:hover {
        background: #df2727;
        color: #fff;
    }
}

.light-text {
    color: #888;
}


#view-cart {
    .panel-default {
        border-radius: 0;

        .panel-body {
            border-radius: 0;
        }

        .panel-heading {
            color: #333;
            background-color: white;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
            border-top: 2px solid #333;
            border-radius: 0;
            box-shadow: none;
        }

        .panel-footer {
            background-color: white;
            border-radius: 0;
        }
    }
}

#addtocart-modalcontainer, #confirm-modal, #will-call-modal {
    .modal-header {
        background-color: $blue;
        color: white;

        button, span {
            color: white;
            opacity: 1;
            text-shadow: none;

            &:hover {
                color: #ccc;
            }
        }
    }

    @media (max-width: 600px) {
        .modal-body {
            padding: 30px;

            #item-description-container {
                margin-left: 20px;
            }

            .select-product {
                .btn {
                    display: block;
                    margin: 10px;
                }
            }
        }
    }
}

#auto-order-choice-container {
    .auto-order-choice-header-text {
        font-family: 'raleway';
        font-size: 22px;
        margin-bottom: 40px;
    }

    #item-description-container {
        margin-left: 30px;
    }

    @media (max-width: 700px) {
        #item-description-container {
            margin-left: 20px;
        }
    }
}

#itemList {
    .tier-title {
        font-size: 22px;
        font-weight: bold;
        color: #777;
        border-top: 6px solid #ddd;
        padding: 15px 0;
    }
}

.btn-selector {
    background-color: #cccccc;
}

// Affiliate Store Pages
.affiliateStores {
    .grey-box {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 5px 10px;
    }

    .item-fields {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .affiliate-node {
        margin-bottom: 60px;

        a:hover {
            text-decoration: none;
        }
    }

    .hr {
        margin: 50px auto 40px auto;
        border-bottom: 1px solid #333;
        max-width: 75%;
    }
}
