#view-dashboard {
    padding: 30px 0;

    .card {
        border: none;
        box-shadow: 0 0 5px #d5d3c3;
        .card-heading {
            h3 {
                color: #666;
            }
        }
    }
}

.newest-distributors-days{
    border-top: none;
    color: gray;
}

.newest-distributors-distributor{
    list-style-type: none;
}

.newest-distributors-profile{
    color: black;
}

