#thankyou-container {
    em { font-size: 13px; display: inline-block; line-height: 15px; }
   
    .alt-header { font-family: 'didot-italic',Georgia,sans-serif; font-size: 40px; padding: 8px 0; border-bottom: solid 1px #CCCCCC; margin-bottom: 0; }
     
    .thankyou-message { font-weight: normal; font-family: 'Roboto-Regular', Georgia; line-height: 30px; margin-top: 0; }
     
    .ll-well { padding: inherit 30px; }

    .ll-well label { font-size: 14px; }
}